@model ProjectDATN.Data.ViewModels.MuaHangVM
@using ProjectDATN.Data.Entities
@using ProjectDATN.Web
@using ProjectDATN.Web.ViewComponents;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết đơn hàng</h1>

<div class="container wrapper">
    <div class="row cart-head">
        <div class="container">
            <div class="row">
                <p></p>
            </div>
            @* <div class="row">
            <div style="display: table; margin: auto;">
            <span class="step step_complete"> <a href="#" class="check-bc">Cart</a> <span class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>
            <span class="step step_complete"> <a href="#" class="check-bc">Checkout</a> <span class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
            <span class="step_thankyou check-bc step_complete">Thank you</span>
            </div>
            </div>*@
            <div class="row">
                <p></p>
            </div>
        </div>
    </div>
    <div class="row cart-body">
        <form class="form-horizontal" method="post" asp-action="Index" asp-controller="CheckOut">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                <!--REVIEW ORDER-->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Chi tiết đơn hàng <div class="pull-right"><small><a class="afix-1" asp-action="Index" asp-controller="Cart" asp-area="">Thay đổi giỏ hàng</a></small></div>
                    </div>
                    <div class="panel-body">
                        @*@foreach(var item in Model)
                        {
                        <div class="form-group">
                        <div class="col-sm-3 col-xs-3">
                        <img class="img-responsive" src="~/uploads/images/product/@item.Image" />
                        </div>
                        <div class="col-sm-6 col-xs-6">
                        <div class="col-xs-12">@item.</div>
                        <div class="col-xs-12"><small>Quantity:<span>@item.Quantity</span></small></div>
                        </div>
                        <div class="col-sm-3 col-xs-3 text-right">
                        <h6>@item.PriceTotal.ToString("#,##0")</h6>
                        </div>
                        </div>
                        }*@
                        @await Component.InvokeAsync(typeof(ProductInCartViewComponent),new {name="Cart"})

                    </div>
                </div>
                <!--REVIEW ORDER END-->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                <!--SHIPPING METHOD-->
                <div class="panel panel-info">
                    <div class="panel-heading">Địa chỉ</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h4>Địa chỉ nhận hàng</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Họ và tên:</strong></div>
                            <div class="col-md-12">
                                <input type="text" class="form-control"  asp-for="@Model.FullName" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12"><strong>Địa chỉ:</strong></div>
                            <div class="col-md-12">
                                <input type="text"  class="form-control" asp-for="@Model.Address" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Tỉnh:</strong></div>
                            <div class="col-md-12">
                                <input type="text"  class="form-control" asp-for="@Model.Tinh" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Huyện:</strong></div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" asp-for="@Model.Huyen" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Phường / Xã:</strong></div>
                            <div class="col-md-12">
                                <input type="text"  class="form-control" asp-for="@Model.PhuongXa" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12"><strong>Số điện thoại:</strong></div>
                            <div class="col-md-12"><input type="text"  class="form-control" asp-for="@Model.PhoneNumber" /></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Email:</strong></div>
                            <div class="col-md-12"><input type="text"  class="form-control" asp-for="@Model.Email" /></div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12"><strong>Phương thức thanh toán:</strong></div>
                            <div class="col-md-12">
                                <input type="radio"  value="vnpay" id="vnpay" name="PaymentMethod" checked  />
                                <label for="vnpay">
                                    <img src="~/Front/img/vnpay.jpg" style="width:70px" />
                                    VNPay
                                </label><br />
                                <input type="radio"  value="cod" id="shipcod" name="PaymentMethod"/>
                                <label for="shipcod"><i class="fa-solid fa-truck-arrow-right"></i>ShipCod</label><br />
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>

            <div>
               @* @if(Model.Payment == ProjectDATN.Data.Enums.PaymentStatus.cod)
                {
                    <button type="submit" class="btn btn-sm btn-danger">Tiếp tục thanh toán</button>
                }
                else
                {
                    <button><a asp-action="Index" asp-controller="VNPay" asp-area="">Tiếp tục thanh toán</a></button>
                }*@
                <button type="submit" class="btn btn-sm btn-danger">Tiếp tục thanh toán</button>

            </div>

        </form>
    </div>
    <div class="row cart-footer">
    </div>
</div>