@model IEnumerable<ProjectDATN.Data.ViewModels.OrderDetailVM>
@using ProjectDATN.Data.Entities

@{
    ViewData["Title"] = "Chi tiết đơn hàng";
    var order = (Order)ViewBag.Order;
}

<div class="container-fluid" style="margin-left:70px">
    <div class="row">
        <div class="col-12">

            <!-- Main content -->
            <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                    <div class="col-12">
                        <h4>
                            <i class="fas fa-globe"></i>Đơn hàng #@order.Id
                            <small class="float-right">Date: @order.OrderDate</small>
                        </h4>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-6 invoice-col">
                        <address>
                            <strong>Khách hàng:</strong><br>
                            Họ tên: @order.UserName<br />
                            Địa chỉ:  @order.Address<br>
                            Phone: @order.PhoneNumber<br>
                        </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6 invoice-col">

                        <address>
                            <strong>Đơn hàng</strong><br>
                            Mã đơn hàng:<span id="order_id"> @order.Id</span><br>

                        </address>
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- Table row -->
                <div class="row">
                    <div class="col-12 table-responsive">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên sảnp phẩm</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    var stt = 1;
                                    foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@stt</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.Price</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.TotalPrice</td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-6">
                        <p class="lead">Payment Methods: @order.Payment</p>
                        <p>Tình trạng: <span id="tinhtrang"> @order.Status</span></p>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">


                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:50%">Tổng cộng:</th>
                                    <td>@order.TotalPrice</td>
                                </tr>
                                <tr>
                                    <th>Phí vận chuyển</th>
                                    <td>0 đ</td>
                                </tr>
                                <tr>
                                    <th>Số tiền phải trả:</th>
                                    <td>@order.TotalPrice</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- this row will not appear when printing -->
                <div class="row no-print">
                    <div class="col-12">
                        @if(order.Status == ProjectDATN.Data.Enums.OrderStatus.InProgress || order.Status == ProjectDATN.Data.Enums.OrderStatus.Confirmed)
                        {
                            
                            <button type="button" id="btn-status" class="btn btn-danger" data-id="4">
                                <i class="far fa-credit-card"></i> Hủy
                            </button>
                        }
                        else if(order.Status == ProjectDATN.Data.Enums.OrderStatus.Shipping)
                        {
                            <button type="button" id="btn-status" class="btn btn-success" data-id="3">
                                <i class="far fa-credit-card"></i> Đã nhận hàng
                            </button>
                            <br />
                            <span style="color:blue">Đơn hàng đã đang được giao!! Xin hãy để ý điện thoại của bạn!!!!</span>
                           
                        }
                        else if(order.Status == ProjectDATN.Data.Enums.OrderStatus.Success)
                        {
                            <span style="color:green">Cám ơn bạn đã tin tưởng và mua hàng bên NDHShop!!!!</span>
                        }
                        else
                        {
                            <span style="color:orangered">Oh!!Bạn không biết nên mua gì sao?? Hãy liên hệ với chúng tối để được tư vấn miễn phí nha!!</span>
                        }
                    </div>
                </div>
            </div>
            <!-- /.invoice -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->
@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '#btn-status', function (e) {
                e.preventDefault();
                var status = parseInt($(this).data('id'));
                //alert(status);
                var id = parseInt($('#order_id').text());

                $.ajax({
                    url: '/order/changestatus',
                    type: 'POST',
                    data: { id: id, status: status },
                    success: function (rs) {
                        if (rs.success) {
                            $('#tinhtrang').html(rs.status);
                        }
                    }
                });
            });
        })
    </script>
}